.container {
    display: flex;
    align-items: center;
    width: 1440px;
    height: 720px;
    background-color: hsl(185, 75%, 39%);
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-position: -200px -400px, 720px 380px;
    background-repeat: no-repeat;
    background-size: 60%;
    background-origin: content-box;
}
.card {
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 90px;
    width: 350px;
    min-height: 370px;
    margin: auto;
    background: url(images/bg-pattern-card.svg) no-repeat top;
    background-color: #fff;
}
.profile-photo {
    border: 6px solid #fff;
    border-radius: 50%;
}

